<app-cabecalho></app-cabecalho>

<ion-content [fullscreen]="true">

  @if (servicos.length > 0) {
    <ion-list >
      <ion-list-header>
          <ion-label>Serviços</ion-label>
      </ion-list-header>
    </ion-list>

    <ion-grid>
      @for (svc of servicos; track svc.id) {
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-thumbnail>
                  <img src="{{ svc.imagem }}" alt="Imagem do serviço">
                </ion-thumbnail>
                <ion-card-header>
                  <ion-card-title>{{ svc.nome }}</ion-card-title>
                  <ion-card-subtitle>{{ svc.valor }}</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        }
    </ion-grid>
  }

  <app-rodape></app-rodape>
</ion-content>

