ion-content{
  --background: #f5f2d0;
  width: 100%;
  height: 100vh;

  ion-list {
    background-color: #f5f2d0;
    text-align: center;
    padding: 2vh;

    ion-list-header {
      ion-label {
        font-size: 2rem;
        font-weight: 600;
        color: #990401;
      }
    }
  }

  ion-grid {
    --background: #f5f2d0;
    display: flex;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    ion-row {
      padding: 2vh;

      ion-col {

        ion-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 30vh;
          height: 27vh;
          background-color: #f5f2d0;

          ion-thumbnail {
            width: 100%;
            height: 100%;
            text-align: center;
          }


          ion-card-title {
            padding-top: 2vh;
            font-size: 1.2rem;
            font-weight: 600;
            color: #990401;
          }

          ion-card-subtitle {
            font-size: 0.85rem;
            font-weight: 400;
            padding-bottom: 1vh;
          }
        }

        &:hover{
          transform: scale(1.1);
          transition: 0.3s;
        }

      }
    }
  }
}
