ion-content {
  --background: #f5f2d0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 3vh 0;

    color: #990401;
  }

  ion-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    ion-row {
      padding: 0 50vh;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-col {
        img {
          max-width: 330px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        }

        ion-text{

          h2 {
            font-size: 1.6rem;
            font-weight: 600;
            color: #990401;
          }

          p{
            font-size: 0.9rem;
            text-align: justify;
          }
        }

      }
    }
  }

}
